body {
    background-image: url('../Resources/Best-Online-Quiz-Makers-Social.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size:cover;    
}

.form-horizontal {
    position: absolute;
    width: 400px;
    height: 450px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}
    .form-horizontal h1 {
        text-align:center;
        color:white;
        margin:30px 0 50px;
    }
.form-group {
    box-sizing: border-box;
    padding: 0 40px;
}

.form-control {
    width: 320px;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border-color: white;
    background: none;
    outline: none;
    margin: 0 auto;
    margin-bottom: 20px;
   
}
    .form-control::placeholder {
        color: white;
    }
    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }
.form-group input[type="submit"] {
    position: center;
    width: 120px;
    height: 35px;
    margin: 20px 50px;
    font-size: 18px;
    border-radius: 10px;
    border-color: rgb(234,172,29);
}
.signup_link {
    margin: 20px 0 20px;
    text-align:center;
    font-size: 22px;
    color:white;    
}
    .signup_link a {
        color: rgb(234,172,29);
        text-decoration:none;
    }
    .signup_link a:hover {        
        text-decoration: underline;
    }
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.text-danger {
    color:white;
}
/* Set width on the form input elements since they're 100% wide by default */

/* Add a black background color to the top navigation */
